@font-face {
  font-family: 'zilap';
  src: url("fonts/Zilap Urban Bold DEMO.ttf");
}
@font-face {
  font-family: 'lato_reg';
  src: url("fonts/Lato-Regular.ttf");
}
body {
  margin: 0;
  font-family: lato_reg, sans-serif;
  font-size: 1em;
  width: 100%;
  background-image:url("images/background_01.png");
  position: relative;
}
header {
  background-color: rgba(255,255,255,0.5);
  padding: 10px;
}
h1 {
  font-family: zilap;
  font-size: 2.5em;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 1.5em;
}
#intro {
  text-align: center;
  line-height: 0.8em;
}
form {
  display: block;
  width:80%;
  margin: 0 auto;
}
fieldset {
  margin-bottom: 20px;
  border-top: 0;
  border-bottom: 0;
  border-left: 2px solid #B27674;
  border-right: 2px solid #B27674;
  border-radius: 15px;
  background-color: rgba(219,219,224,0.7);
}
table {
  border-collapse: collapse;
}
td {
  border-left: 1px solid #484848;
  border-right: 1px solid #484848;
}
#end {
  text-align: center;
}
.button_radio {
  display: block;
  margin: 0 auto;
}
.button_neutral {
  font-size: 1em;
  font-family: lato_reg;
  color: black;
  padding: 7px 30px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  /*transition: all 0.4s;*/
  background-color: #cccccc;
  border-bottom: 5px solid #969696;
}
.button_neutral:hover {
  background-color: #969696;
  border-bottom: 5px solid #636363;
}
footer {
  background-image: url("images/glitch.gif");
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 40px;
  margin: 0;
}

@media screen and (max-width: 500px) {
  #intro {
    font-size: 0.8em;
  }
  form {
    width: 100%;
  }
}
